html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Roboto', sans-serif;
}

.header-wrapper {
    height: 100px;
    display: flex;
    justify-content: space-evenly;
    background-color: #333333;
    padding-left: 5%;
    padding-right: 5%;
}

.logo-wrapper {
    display: flex;
    margin-top: auto;
    margin-bottom: auto;
}

.logo-wrapper p {
    font-weight: 400;
    font-size: 30px;
    color: #FFFFFF;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 20px;
}


.logo-wrapper img {
    width: 50px;
    height: 60px;
}

.nav-wrapper {
    margin-top: auto;
    margin-bottom: auto;
    width: 50%;
}

.navbar {
    width: 100%;
    height: 100%;
}

.navbar ul {
    margin-top: auto;
    margin-bottom: auto;
    display: flex;
    width: 100%;
}

.navbar li {
    list-style: none;
    margin-right: 10%;
}

.navbar .btn {
    text-decoration: none;
}

.navbar li a {
    color: #f5f5f7;
    font-size: 25px;
    font-weight: 300;
    letter-spacing: 0.05em;
    transition: 0.1s;
    text-decoration: none;
}

.navbar li a:hover {
    opacity: 0.8;
}

.games-wrapper {
    width: 90%;
    margin: 0 auto;
}

.games-wrapper .headline-wrapper {
    margin: 75px auto 80px auto;
    text-align: center;
    color: #333333;
}

.headline-wrapper h1 {
    font-weight: 300;
    font-size: 45px;
    letter-spacing: 0.1em;
}

.headline-wrapper p {
    margin-top: 20px;
    font-size: 20px;
    font-weight: 300;
    letter-spacing: 0.075em;
}

.games-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
}

.games-wrapper .game-card {
    width: 395px;
    transition: all 0.3s ease;
}

.google-play {
    margin: 0;
}

.game-card .game-photo-wrapper {
    height: 240px;
}

.game-card:hover {
    -webkit-transform: scale(1.03);
    -ms-transform: scale(1.03);
    transform: scale(1.03);
}

.games-wrapper .game-card .game-photo-wrapper img {
    width: 100%;
    height: 100%;
    border-radius: .25rem .25rem 0 0;
    border-bottom: none;
}

.game-card .game-card-body {
    border: 1px solid #dadce0;
    border-radius: .25rem;
    padding: 1.25rem;
    border-top: none;
}


.game-card .download-photo-btn-wrapper {
    width: 160px;
    height: 65px;
    margin-right: auto;
}

.download-photo-btn-wrapper img {
    width: 100%;
    height: 100%;
    transition: all 0.3s ease;
}

.download-photo-btn-wrapper .works-btn-photo:hover {
    -webkit-transform: scale(1.02);
    -ms-transform: scale(1.02);
    transform: scale(1.02);
}


.technology-headline {
    margin-top: 180px;
}

.technology-headline h2 {
    text-align: center;
    margin-bottom: 50px;
    font-weight: 300;
    font-size: 40px;
}

.technologies-stack-wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.technologies-stack-wrapper .technology-card {
    margin-bottom: 100px;
    width: 395px;
    transition: all 0.3s ease;
    border: 1px solid #dadce0;
    border-radius: .25rem;
}

.technology-card:hover {
    -webkit-transform: scale(1.03);
    -ms-transform: scale(1.03);
    transform: scale(1.03);
}


.technology-card .technology-photo-wrapper {
    height: 240px;
    border: none;
}

.technology-card .technology-body-wrapper {
    padding: 1.25rem;
    margin: auto;
}

.technology-card img {
    width: 100%;
    height: 100%;
}


.technology-card .unity-photo {
    width: 100%;
    height: 100%;
}

footer p {
    text-align: center;
    margin-bottom: 5px;
}