<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Company name</title>
    <link href="webjars/bootstrap/4.4.1-1/css/bootstrap.min.css"
          rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap"
          rel="stylesheet">
    <link href="resources/css/user.css" type="text/css"
          rel="stylesheet">
    <link href="resources/css/admin.css" type="text/css"
          rel="stylesheet">
</head>
<body>
<header>
    <div class="header-wrapper">
        <div class="logo-wrapper">
            <a href="goHome" target="_self">
                <img src="resources/img/logo.png" alt="">
            </a>
            <p th:text="${userFullName}">Illia Novoseltsev</p>
        </div>
        <div class="nav-wrapper">
            <nav class="navbar">
                <ul>
                    <li>
                        <button class="btn btn-link">
                            <a href="users">Users</a>
                        </button>
                    </li>
                    <li>
                        <button class="btn btn-link">
                            <a href="events">Events</a>
                        </button>
                    </li>
                    <li>
                        <button class="btn btn-link">
                            <a href="games">Games</a>
                        </button>
                    </li>
                    <li>
                        <button class="btn btn-link">
                            <a href="profile">Profile</a>
                        </button>
                    </li>
                    <li class="logout-li">
                        <button class="btn btn-link">
                            <a href="logout">Logout</a>
                        </button>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</header>
<div class="table-caption-wrapper">
    <h4 class="table-caption">Logged in users</h4>
</div>
<div class="table-wrapper">
    <table th:if="${usualUsers.size()} > 0 or  ${googleUsers.size()} > 0"
           class="users-table table table-bordered">
        <thead class="">
        <tr class="">
            <th scope="col">First name</th>
            <th scope="col">Last name</th>
            <th scope="col">Login</th>
            <th scope="col">Email</th>
            <th scope="col">State</th>
            <th scope="col">Settings</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="user : ${usualUsers}">
            <th th:text="${user.getFirstName()}"></th>
            <th th:text="${user.getLastName()}"></th>
            <th th:text="${user.getLogin()}"></th>
            <th th:text="${user.getEmail()}"></th>
            <th th:text="${user.getState()}"></th>
            <th th:if="${user.getState().name()} == 'ACTIVE' "><a
                    th:href="'ban?id=' + ${user.getId()}">
                <button class="set-button btn btn-link">Ban</button>
            </a></th>
            <th th:if="${user.getState().name() == 'BANNED'}"><a
                    th:href="'activate?id=' + ${user.getId()}">
                <button class="set-button btn btn-link">Activate</button>
            </a></th>
        </tr>
        <tr th:if="${googleUsers}!= null"
            th:each="googleUser : ${googleUsers}">
            <th th:text="${googleUser.getNickname()}"></th>
            <th
                    th:text="${googleUser.getFirstName()} + ${googleUser.getLastName()}"></th>
            <th></th>
            <th th:text="${googleUser.getEmail()}"></th>
            <th th:text="${googleUser.getState()}"></th>
            <th th:if="${googleUser.getState().name() == 'ACTIVE'}"><a
                    th:href="'ban?id=' + ${googleUser.getId()}">
                <button class="set-button btn btn-link">Ban</button>
            </a></th>
            <th th:if="${googleUser.getState().name() == 'BANNED'}"><a
                    th:href="'activate?id=' + ${googleUser.getId()}">
                <button class="set-button btn btn-link">Activate</button>
            </a></th>
        </tr>
        </tbody>
    </table>
</div>

<script src="resources/js/script.js"></script>
</body>
</html>