<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Admin page</title>
    <link href="webjars/bootstrap/4.4.1-1/css/bootstrap.min.css"
          rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap"
          rel="stylesheet">
    <link href="resources/css/main.css" type="text/css"
          rel="stylesheet">
    <link href="resources/css/admin.css" type="text/css"
          rel="stylesheet">
</head>
<body>
<header>
    <div class="head-wrapper" id="high-point">
        <div class="caption-wrapper">
            <div class="logo-wrapper">
                <a href="goHome" target="_self">
                    <img src="resources/img/logo.png" alt="">
                </a>
            </div>
            <p>LightDev</p>
        </div>
        <div class="communication-wrapper">
            <a href="https://www.youtube.com/channel/UCtt5wGnVBBrmQdKgvVJuGTg">
                <img class="youtube-img" src="resources/img/youtube.png"
                     alt="">
            </a>
            <a href="https://www.instagram.com/linavashomes">
                <img class="instagram-img"
                     src="resources/img/instagram.png" alt="">
            </a>
            <a href="https://t.me/inovoseltsev">
                <img class="telegram-img"
                     src="resources/img/telegram.png" alt="">
            </a>
        </div>
        <div class="navbar-wrapper">
            <nav class="navbar">
                <ul>
                    <li class="sign-up-li">
                        <button class="btn btn-link">
                            <a href="logout" target="_self">Logout</a>
                        </button>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</header>
<div class="table-caption-wrapper">
    <h4 class="table-caption">Logged in users</h4>
</div>
<div class="table-wrapper">
    <table th:if="${users} != null" class="users-table table table-bordered">
        <thead class="">
        <tr class="">
            <th scope="col">First name</th>
            <th scope="col">Last name</th>
            <th scope="col">Login</th>
            <th scope="col">Email</th>
            <th scope="col">State</th>
            <th scope="col">Settings</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="user : ${users}">
            <th th:text="${user.getFirstName()}"></th>
            <th th:text="${user.getLastName()}"></th>
            <th th:text="${user.getLogin()}"></th>
            <th th:text="${user.getEmail()}"></th>
            <th th:text="${user.getState()}"></th>
            <th><a><button class="set-button">Edit</button></a></th>
        </tr>
        </tbody>
    </table>
</div>

<script src="resources/js/script.js"></script>
</body>
</html>