<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Company name</title>
    <link href="webjars/bootstrap/4.4.1-1/css/bootstrap.min.css"
          rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap"
          rel="stylesheet">
    <link href="resources/css/main.css" type="text/css" rel="stylesheet">
    <link href="resources/css/login.css" type="text/css" rel="stylesheet">
</head>
<body>
<header>
    <div class="head-wrapper" id="high-point">
        <div class="caption-wrapper">
            <div class="logo-wrapper">
                <a href="goHome" target="_self">
                    <img src="resources/img/logo.png" alt="">
                </a>
            </div>
            <p>Company Name</p>
        </div>
        <div class="communication-wrapper">
            <a href="https://www.youtube.com">
                <img class="youtube-img" src="resources/img/youtube.png"
                     alt="">
            </a>
            <a href="https://www.instagram.com">
                <img class="instagram-img"
                     src="resources/img/instagram.png" alt="">
            </a>
            <a href="https://telegram.org/">
                <img class="telegram-img"
                     src="resources/img/telegram.png" alt="">
            </a>
        </div>
        <div class="navbar-wrapper">
            <nav class="navbar">
                <ul>
                    <li class="login-li">
                        <button class="btn btn-link">
                            <a href="sign-in" target="_self">Sign in</a>
                        </button>
                    </li>
                    <li class="sign-up-li">
                        <button class="btn btn-link">
                            <a href="sign-up" target="_self">Sign up</a>
                        </button>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</header>
<div th:if="${errorMessage} != null" class="alert alert-danger"
     th:text="${errorMessage}">
</div>
<div class="login-form-wrapper form-group">
    <h3 class="login-caption display-4">Please login</h3>
    <form action="userLogin" method="post">
        <div class="login-field-wrapper">
            <input class="password-field form-control form-control-lg"
                   type="text"
                   placeholder="Login"
                   name="login"
                   required>
        </div>
        <div>
            <input class="form-control form-control-lg" type="password"
                   placeholder="Password"
                   name="password"
                   required>
        </div>
        <div class="links-wrapper">
            <div class="create-wrapper">
                <a href="sign-up">Create an account?</a>
            </div>
            <div class="remember-me-wrapper">
                <label>Remember me</label>
                <input type="checkbox" name="rememberMe">
            </div>
        </div>
        <div>
            <input class="btn btn-primary" type="submit" value="Sign in">
        </div>
        <div class="google-auth-wrapper">
            <a href="oauth2/authorization/google">
                <img src="resources/img/google-login.png" alt="">
            </a>
        </div>
    </form>
</div>
</body>
</html>