<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Sign up</title>
    <link href="webjars/bootstrap/4.4.1-1/css/bootstrap.min.css"
          rel="stylesheet">
    <link href="resources/css/sign-up.css" type="text/css"
          rel="stylesheet">
</head>
<body>
<div th:if="${errorMessage != null}" class="alert alert-danger"
     th:text="${errorMessage}"></div>
<div class="sign-up-form-container">
    <h4 class="sign-up-caption display-4">Please sign up</h4>
    <form action="sign-up" method="post">
        <div class="form-wrapper">
            <input class="form-control" name="firstName" type="text"
                   placeholder="First name"
                   th:value="${firstName}" required>
            <input class="form-control" name="lastName" type="text"
                   placeholder="Last name"
                   th:value="${lastName}" required>
            <input class="form-control" name="login" type="text"
                   placeholder="Login"
                   th:value="${login}" required>
            <input class="form-control" name="password" type="password"
                   placeholder="Password"
                   pattern="[а-яА-Яa-zA-Z0-9_-]{4,12}"
                   title="Введите от 4 до 12 символов" required>
            <input class="form-control" name="repeatedPassword" type="password"
                   placeholder="Confirm password" required>
            <input class="form-control" name="email" type="email"
                   th:value="${email}" placeholder="Email (not necessary)"
                   pattern="^([a-zA-Z0-9_\-\.]+)@([a-zA-Z0-9_\-\.]+)\.([a-zA-Z]{2,5})$">
        </div>
        <button class="btn btn-primary">Confirm
        </button>
    </form>

</div>
</body>
</html>